<header class="header">


    <div class="header-left">

        <a href="/" class="logo">
            Empty Account
        </a>

    </div>



    <div class="header-right">


        <% if(user){ %>


            <img
            class="header-avatar"
            src="<%= user.avatar %>"
            onerror="this.src='<%= user.defaultAvatar %>'"
            >


            <a 
            class="header-name"
            href="/users/<%= user.userid %>"
            >
                <%= user.display_name %>
            </a>



            <div class="menu-container">


                <button 
                class="menu-button"
                onclick="toggleMenu()"
                >


                    <span></span>
                    <span></span>
                    <span></span>


                </button>



                <div class="dropdown" id="menu">


                    <a href="/logout">
                        Log Out
                    </a>


                </div>


            </div>



        <% } else { %>



            <a class="signin-button" href="/signin">
                Sign In
            </a>



        <% } %>



    </div>


</header>



<script>

function toggleMenu(){


    const menu =
    document.getElementById("menu");


    menu.classList.toggle("show");


}


</script>
