<% if (notification) { %>

<div class="notification">

    <div class="notification-icon">
        !
    </div>

    <div class="notification-content">

        <div class="notification-title">
            <%= notification.title %>
        </div>

        <div class="notification-text">
            <%= notification.text %>
        </div>

    </div>

</div>

<% } %>
