<!DOCTYPE html>
<html lang="en">

<head>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sign Up</title>

<link rel="stylesheet" href="/css/auth.css">

</head>


<body>



<% if (error) { %>


<div class="notification">


    <div class="notification-icon">
        !
    </div>



    <div class="notification-content">


        <div class="notification-title">

            Error

        </div>



        <div class="notification-text">

            <%= error %>

        </div>


    </div>


</div>



<script>


setTimeout(()=>{


    document
    .querySelector(".notification")
    .classList.add("hide");


},5000);



</script>


<% } %>





<div class="auth-card">



<h1 class="logo">

    Empty Account

</h1>



<h2>

    Sign Up

</h2>





<form action="/signup" method="POST">





<label>

Username

</label>


<input

type="text"

name="username"

placeholder="Enter username"

required

>





<label>

Display Name

</label>


<input

type="text"

name="display_name"

placeholder="Enter display name"

required

>





<label>

Password

</label>


<input

type="password"

name="password"

placeholder="Enter password"

required

>




<button type="submit">

Sign Up

</button>




</form>





<p class="bottom-text">


Already have an account?


<a href="/signin">

Sign In

</a>


</p>




</div>





</body>

</html>
