* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;

}



html,
body {

    width:100%;
    min-height:100%;

}



body {

    background:#121214;

    font-family: "Inter", sans-serif;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    padding:30px;

}



/* ---------- Фоновые пятна ---------- */


body::before {

    content:"";

    position:fixed;

    width:500px;
    height:500px;

    background:#2563eb;

    border-radius:50%;

    filter:blur(160px);

    opacity:.10;

    top:-150px;
    left:-150px;

    z-index:-1;

}


body::after {

    content:"";

    position:fixed;

    width:450px;
    height:450px;

    background:#6366f1;

    border-radius:50%;

    filter:blur(160px);

    opacity:.08;

    bottom:-150px;
    right:-120px;

    z-index:-1;

}



/* ---------- Главная карточка ---------- */


.auth-card {

    background:#191A1F;

    border-radius:18px;

    padding:40px;

    border:1px solid rgba(148,163,184,0.14);

    box-shadow:
    0 10px 30px rgba(0,0,0,.45);

}




/* ---------- Лого ---------- */


.logo {

    text-align:center;

    font-size:34px;

    font-weight:700;

    margin-bottom:10px;

}





h2 {

    text-align:center;

    margin-bottom:35px;

    color:#cbd5e1;

    font-weight:500;

}





/* ---------- Поля ---------- */


label {

    display:block;

    margin-bottom:8px;

    margin-top:18px;


    font-size:14px;

    font-weight:600;

}




input {

    width:100%;

    height:46px;

    border:1px solid #363A44;

background:#15171C;

    color:white;

    border-radius:10px;

    padding:0 15px;

    font-size:16px;

    outline:none;

    transition:.2s;

}

input::placeholder {

    color:#7f8796;

}

input:focus {

    border-color:#2563eb;

    box-shadow:
    0 0 8px rgba(37,99,235,0.25);

}





/* ---------- Кнопка ---------- */


button {


    width:100%;


    height:48px;


    margin-top:30px;


    border:none;


    border-radius:10px;


    background:#2563eb;


    color:white;


    font-size:16px;


    font-weight:700;


    cursor:pointer;


    transition:.2s;

}




button:hover {

    background:#1d4ed8;

}



button:active {

    transform:scale(.98);

}





/* ---------- Нижний текст ---------- */


.bottom-text {


    text-align:center;


    margin-top:28px;


    color:#94a3b8;


}




.bottom-text a {


    color:#60a5fa;


    text-decoration:none;


    font-weight:700;

}



.bottom-text a:hover {

    text-decoration:underline;

}





@media(max-width:500px){


    .auth-card {


        padding:30px 22px;

    }



    .logo {

        font-size:28px;

    }


}
